@font-face {
    font-family: "Casio";
    src: url('../img/casiofx.ttf');
}
html{
	font-family: 'Open Sans', sans-serif;
}
.input{
	width: 445px;
}
.input td{
	background-color: grey;
	opacity: 0.4;
	width: 1200px;
	height: 65px;
}/*
#console{
	margin-left: 100px;
	width: 500px;
	height: 800px;
	background-color: #000;
	color: #FFF;
	padding: 20px;
	float: left;
}*/
#console{
	margin-left: 100px;
	width: 680px;
	height: 1280px;
	background-image: url("../img/casio.jpg");
	background-repeat: no-repeat;
	color: #FFF;
	padding: 20px;
	float: left;
}
#code{
	margin-left: 640px;
	margin-top: 50px;
	/*width: 500px;
	height: 380px;*/
	background-color: #F4A460;
	color: #FFF;
	padding: 20px;
}
#save{
	margin-left: 640px;
	/*width: 500px;
	height: 380px;*/
	background-color: grey;
	color: #FFF;
	padding: 20px;
}
/*#EXE{
	margin-left: 475px;
	/*width: 500px;
	height: 380px;*/
	/*background-color: grey;
	color: #FFF;
	padding: 20px;*
}*/
.console_test{
	margin-top: 150px;
	margin-left: 140px;
	font-size: 1.8em;
	letter-spacing: 1px;
	line-height: 28px;
	width: 500px;
	height: 670px;
	color:#000;
}
.input_test{
	margin-left: 95px;
	text-transform: uppercase;
	font-size: 1.25em;
	letter-spacing: 35px;
	line-height: 75px;
	width: 400px;
	height: 695px;
	color:blue;
}
.right{
	text-align: right;
}
#console a{
	background-color: grey;
	text-decoration: none;
	color: #66F460;
}
.console{
	width: 500px;
	height: 695px;
	overflow-y: scroll;

}

h2{
	text-align: center;
}
a{
	text-decoration: none;
	color: #66F460;
}
input{
	width: 400px;
	height: 45px;
}
#send{
	width: 90px;
	height: 50px;
}
#next{
	width: 500px;
	height: 50px;
}
.error{
	font-weight: bold;
	color: #F46066;
}
.valid{
	font-weight: bold;
	color: #66F460;
}
